
<!-- Works -->
    <div class="basic-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="text-container-card">
                        <div class="image-container">
                            <a href="https://biznes.aztester.uz/" target="_blank">
                                <img class="img-fluid" src="{% static 'app/images/agrobusiness.jpg' %}" alt="alternative">
                            </a>
                        </div> <!-- end of image-container -->
                        {% comment %} <p><strong>For:</strong> {% endcomment %}
                            <p>AgroBusiness
                            <!-- <strong>Project:</strong> developed a new forum for the Visodream community <a class="blue" href="project.html">details</a></p> -->
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <div class="text-container-card">
                        <div class="image-container">
                            <a href="https://agrozamin.uz/" target="_blank">
                                <img class="img-fluid" src="{% static 'app/images/uzimizniki.jpg' %}" alt="alternative">
                            </a>
                        </div> <!-- end of image-container -->
                        {% comment %} <p><strong>For:</strong> {% endcomment %}
                            <p> Agrozamin Uzimizniki
                            <!-- <strong>Project:</strong> developed a new forum for the Visodream community <a class="blue" href="project.html">details</a></p> -->
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <div class="text-container-card">
                        <div class="image-container">
                            <a href="https://agropay.agrozamin.uz/uz_latn" target="_blank">
                                <img class="img-fluid" src="{% static 'app/images/agropay.jpg' %}" alt="alternative">
                            </a>
                        </div> <!-- end of image-container -->
                        {% comment %} <p><strong>For:</strong>  {% endcomment %}
                            <p>AgroPay
                            <!-- <strong>Project:</strong> complete redesign of their corporate website and platform <a class="blue" href="project.html">details</a></p> -->
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="text-container-card">
                        <div class="image-container">
                            <a href="https://imodels.uz/" target="_blank">
                                <img class="img-fluid" src="{% static 'app/images/imodels_home_page.jpg' %}" alt="alternative">
                            </a>
                        </div> <!-- end of image-container -->
                        {% comment %} <p><strong>For:</strong> {% endcomment %}
                            <p>iModels 
                            <!-- <strong>Project:</strong> started a new website from ground up for a new product <a class="blue" href="project.html">details</a></p> -->
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <div class="text-container-card">
                        <div class="image-container">
                            <a href="https://www.agros.uz/" target="_blank">
                                <img class="img-fluid" src="{% static 'app/images/agros.png' %}" alt="alternative">
                            </a>
                        </div> <!-- end of image-container -->
                        {% comment %} <p><strong>For:</strong> {% endcomment %}
                            <p>Uzagrosugurta
                             <!-- <strong>Project:</strong> web design for their corporate websites and landing pages <a class="blue" href="project.html">details</a></p> -->
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <div class="text-container-card">
                        <div class="image-container">
                            <a href="https://endo.uz/" target="_blank">
                                <img class="img-fluid" src="{% static 'app/images/endo.png' %}" alt="alternative">
                            </a>
                        </div> <!-- end of image-container -->
                        {% comment %} <p><strong>For:</strong> {% endcomment %}
                            <p>EndoSystems
                             <!-- <strong>Project:</strong> started a new website from ground up for a new product <a class="blue" href="project.html">details</a></p> -->
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="text-container-card">
                        <div class="image-container">
                            <a href="https://dr-boboev.com/" target="_blank">
                                <img class="img-fluid" src="{% static 'app/images/dr-boboev.png' %}" alt="alternative">
                            </a>
                        </div> <!-- end of image-container -->
                        {% comment %} <p><strong>For:</strong> {% endcomment %}
                            <p>Dr-Boboev
                            <!-- <strong>Project:</strong> created a custom video editing and upload web app <a class="blue" href="project.html">details</a></p> -->
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <div class="text-container-card">
                        <div class="image-container">
                            <a href="https://asr.gov.uz/" target="_blank">
                                <img class="img-fluid" src="{% static 'app/images/strategy_agency.png' %}" alt="alternative">
                            </a>
                        </div> <!-- end of image-container -->
                        <p><strong>For:</strong> 
                            <p>Agency for Strategic Reforms
                            <!-- <strong>Project:</strong> complete redesign of their corporate website and platform <a class="blue" href="project.html">details</a></p> -->
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div>
        </div> <!-- end of container -->
    </div> <!-- end of basic-4 -->
<!-- end of works -->